<footer class="footer navbar-fixed-bottom navbar-default">
  <div class="container">
    <p class="text-muted text-center"> <%= link_to "Terms and Conditions.", terms_and_conditions_path %></p>
  </div>
</footer>
