<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        All Events
      </div>
      <div class="panel-body">
      

      </div>
    </div>

    <%= link_to "Your events", events_path, class: "btn btn-primary" %>
  </div>
</div>
